.movies figure {
  cursor: pointer;
}

.movies figure figcaption {
  background-color: #ffb700;
  color: #fff;
  font-weight: bold;
}

.grid-detail footer {
  display: flex;
}

.grid-detail footer .rating {
  color: #000000;
  margin-left: auto;
}

.not-found {
  background-color: #fff;
  padding: 1.5em;
  margin: 1.5em auto;
  max-width: 80%;
  color: #ffb700;
  font-weight: bold;
}
