.actors footer {
  display: flex;
  flex-direction: column;
}

.actors .actor-name {
  background-color: #ffb700;
  padding: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
}
