<nav class="nav">
  <header>
    <div class="logo">
      <a routerLink="/movies" [queryParams]="{ filterBy: movieTitle }">
        {{ logo }}
      </a>
    </div>
  </header>
  <nav class="navigation-menu">
    <a routerLink="/movies/favorites">Favorites</a>
  </nav>
  <div class="searchForm">
    <form>
      <input
        type="text"
        [(ngModel)]="movieTitle"
        (keyup)="updateSearchValue()"
        name="search"
        id="search"
        placeholder="{{ movieSearch }}"
      />
    </form>
  </div>
</nav>
